*.html linguist-detectable=false
*.htm linguist-detectable=false
*.tex linguist-detectable=false
*.sty linguist-detectable=false
*.1 linguist-detectable=false
*.js linguist-detectable=false
*.sketch linguist-detectable=false
*.sh linguist-detectable=false
*.webmanifest linguist-detectable=false
