        body,
        header,
        nav {
            background-color: #F0F4F8 !important;
        }

        main,
        footer,
        aside {
            background-color: #293757 !important;
        }

        footer {
            color: #A0AEC0 !important;
        }

        main section {
            background-color: #F0F4F8 !important;
        }

        main section:nth-of-type(even) {
            background-color: #FFFFFF !important;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            color: #293757 !important;
            border-left-color: #293757 !important;
        }

        nav a {
            color: #293757 !important;
        }

        nav a:hover {
            border-bottom-color: #293757 !important;
        }

        nav a:visited {
            color: #293757 !important;
        }

        main a,
        main a:visited {
            color: #293757 !important;
            border-bottom-color: #293757 !important;
        }

        .dropdown {
            color: #293757 !important;
        }

        figure code,
        figure pre {
            color: #E2E8F0 !important;
            background-color: #1A2438 !important;
        }

        aside h3 {
            color: #E2E8F0 !important;
        }

        aside div {
            color: #E2E8F0 !important;
        }

        aside a,
        aside a:visited {
            color: #E2E8F0 !important;
            border-bottom-color: #E2E8F0 !important;
        }
